{%extends 'all-news/base.html'%} {% block content %}

<div class="container shadow" style="margin-top: 6%;">
    <div class="row">
        <div class="col-md-6 card" style="margin: auto;">
            <div class="card-title">
                <img src="{{article.article_image.url}}" class="img-responsive" alt="" style="height: 80%;width: 40%;">
            </div>

            <div class="card-body">
                <h1 class="card-text">{{article.title}}</h1>
                
                <div class="card-description">
                    <p>{{article.post}}</p>
                </div>

                <div class="card-description">
                    <p>Posted {{article.pub_date|timesince}} by {{article.editor.first_name}}</p>
                </div>
            </div>    
        </div>
    </div>
</div>

{% endblock %}