{%extends 'all-news/base.html'%} {% block content %} {{ block.super}}

<div class="container">

    <!-- Looping through news   -->
    {% for news_item in news %}


    <div class="row shadow " style="margin-top: 3%;">
        <!-- displaying News articles -->
        <div class="col-md-4">
            <h2 class="text-center"> {{ news_item.title }} </h2>
        </div>

        <!--Display news Article images  -->
        <div class="col-md-5">
            <img src="{{news_item.article_image.url}}" class="img-responsive" alt="Image" style="height: 90%; width: 50%;">
        </div>

    </div>

    {% empty %}
    <div class="row">
        <h2 class="text-center">There No News Items</h2>
    </div>
    {% endfor %}




</div>

{% endblock %}