{%extends 'all-news/base.html'%} 
{% load bootstrap4 %}
{% block content %}
{{ block.super}}

<div class="container" style="font-family: 'Acme', sans-serif;">
    <!-- Looping through news   -->
    {% for news_item in news %}

    <div class="row shadow " style="margin-top: 3%;">
        <!-- displaying News articles -->
        <div class="col-md-4">
            <h2 class="text-center"> {{ news_item.title }} </h2>
        </div>
        <!--Display news Article images  -->
        {% if news_item.article_image %}
        <div class="col-md-5">
            <img src="{{news_item.article_image.url}}" class="img-responsive" alt="Image" style="height: 90%; width: 50%;">
        </div>
        {% endif %}
    </div>

    {% empty %}
    <div class="row">
        <h2 class="text-center">There No News Items</h2>
    </div>
    {% endfor %}

    <div class="container">
        <form action="{% url 'newsToday' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form letterForm layout='inline' %}
            <input type="submit" value="Subscribe">
        </form>
    </div>

</div>
{% endblock %}